@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    ::selection {
        @apply text-white bg-teal-700;
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
        @apply ml-[-41px];
        content: counter(step);
    }

    .highlightColor {
        @apply text-white bg-teal-700;
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}

pre code {
    padding: 1rem !important;
    @apply rounded-lg my-4
}

figcaption {
    @apply w-[80%] mx-auto
}

figure {
    @apply my-4
}

figcaption p {
    font-size: 15px !important;
    font-style: italic;
    @apply text-center text-muted text-sm;
}

.pre {
    @apply border-x  bg-[#1e293b] dark:bg-[#1e293b] rounded-3xl;

}

.code {
    @apply rounded-lg bg-transparent dark:bg-transparent p-0;
}


.img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

/* Prism Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
}

pre > code {
    display: grid;
}

html.light [data-theme="dark"] {
    display: none;
}

pre {
    border-radius: 5px !important;
}

code {
    margin-top: 0 !important;
    overflow-x: auto;
}

html .dark[data-theme="light"] {
    display: none;
}


div [data-rehype-pretty-code-fragment] {
    margin-top: 1rem;
}


pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
    margin: 1.5rem 0;
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0 ;
}

h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight
}

p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
}

blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
}


.ProseMirror p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    width: 100%;
    pointer-events: none;
}

.ProseMirror > * + * {

    margin-top: 0.75em;
}

.ProseMirror {
    outline: none;
}

.ProseMirror img {
    height: auto;
    max-width: 100%;
}

.ProseMirror-selectednode {
    outline: 3px solid #68cef8;
}

iframe {
    min-width: 200px;
    min-height: 500px;
    display: block;
    width: 100%;
    outline: 0px solid transparent;
}

div[data-youtube-video] {
    cursor: move;
    padding-right: 24px;
}


.item {

}

.item.is-selected,
.item:hover {
    color: #a975ff;
    @apply bg-gray-100 dark:bg-gray-600;
}

.itemIcon {
    @apply dark:bg-gray-700
}

.editor-output {
    font-size: 0.8rem;
    border-left: 5px solid purple;
    padding: 0.5em 1em;
}

.tipTapFileDiv {
    @apply w-[400px] relative border-2 border-gray-300 border-dashed rounded-lg p-6;
}

.tipTapFileImage {
    @apply mx-auto h-12 w-12;
}

.tipTapFileInput {
    @apply absolute inset-0 w-full h-full opacity-0 z-50;
}

.embedded_container {
    position: relative;
    padding-bottom: 65.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    @apply my-6;
}

.iframe-wrapper {
    padding: 1rem;
}

.embedded_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.tippyEmbeddedPopup {
    @apply text-black bg-white dark:bg-gray-900 border-2 p-4 shadow-sm min-w-[450px] mb-4;
}

.tippyEmbeddedPopup label {
    @apply text-black;
}


.tippyEmbeddedPopup button[type="submit"] {
    @apply bg-blue-400;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
    color: #ABB2BF;
    background: #0d0d0d;
    font-family: "JetBrains Mono", Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    display: block !important;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #383e49;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #9aa2b1;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #282c34;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #5C6370;
}

.token.punctuation {
    color: #abb2bf;
}

.token.selector,
.token.tag {
    color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
    color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
    color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #56b6c2;
}

.token.atrule,
.token.keyword {
    color: #c678dd;
}

.token.function {
    color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
    color: #c678dd;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #5C6370;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

.ulTipTap {
    list-style: circle !important;
}

.ulTipTap > li {
    list-style: circle !important;
}


.olTipTap {
    list-style: decimal !important;
}

.linkTipTap {
    @apply underline underline-offset-4 cursor-pointer ;
}

a {
    @apply underline underline-offset-4 cursor-pointer ;
}
